/Source/Nursing-Sim/Library/
/Source/Nursing-Sim/Assets/Hospital/
/Source/Nursing-Sim/Assets/3D_Models/gloved hands/
/Source/Nursing-Sim/Assets/3D_Models//IV_Medical_Set/
/Source/Nursing-Sim/Assets/3D_Models/IVBag2/
